// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#box{
  height: 600px;
}
.image1 {
  background-image: image-url('top1.jpg');
}
.image2 {
  background-image: image-url('top2.jpg');
}
.image3 {
  background-image: image-url('top3.jpg');
}

.image1{
  position: relative;
}

// TOPページ画像の文字
.top-text{
  position: absolute;
  top: 50%;
  left: 40%;
  margin-top: -60px;
  margin-left: -110px;
  color: white;
  font-size: 40px;
}

.form-inline{
  position: absolute;
  top: 50%;
  left: 40%;
}


// aboutページ
.about{
  height: 650px;
}

footer{
  border-top: 2px solid #f3f6f6;
}