// Place all the styles related to the farmer/bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Bookmarkボタン
.bookmark-color:link{
  color: #7e9a9a;
  text-decoration: none;
}

.bookmark-color:visited{
  color: #7e9a9a;
  text-decoration: none;
}

.bookmark-color:hover{
  color: #7e9a9a;
  text-decoration: none;
}
