// Place all the styles related to the farmer/farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// kaminari
.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #262e2e;
}

.pagination>li>a:hover {
background-color: #ebefef;
border-radius: 15px;
}

// 農場詳細・一覧の背景画面
.farm-index{
  background: #f4f6f6;
}

.pagination>.active>li {
  border-radius: 15px;     /*角を丸くする*/
}
