<div class="container">
  <div class="row d-flex align-items-center about">
    <div class="col-6">
        <h3 class="mb-4">ソウルメイトとは</h3>
          <p class="mr-3">普段、食べている野菜や果物が<br>
            誰がどんな思いで作っているか気になりませんか。<br>
            このサイトは、農家さんの野菜や果物に込めた<br>
            愛情や作物を育てる匠の技を知ることができ、<br>
            農家さんと繋がることができるサイトです。<br>
            あなたのお気に入りの農家さんを見つけ、<br>
            新鮮な野菜や果物を買う手掛かりになればと思います。
          </p>
    </div>
    <div class="col-6">
      <%= image_tag 'top1.jpg', size: '550x400' %>
    </div>
  </div>
</div>

