
  <div class="container">
    <div class="row">
      <h2>農場一覧</h2>
    </div>
      <%= render 'farmer/farms/index', farms: @farms %>
    </div>



  <!--<div class="container">-->
  <!--  <div class="row">-->
  <!--    <h2>農場一覧</h2>-->
  <!--  </div>-->
  <!--  <div class="row mt-3 justify-content-center">-->
  <!--    <p>登録している農家情報はございません。</br>-->
  <!--       新しく下記より、農家情報を登録ください。</p>-->
  <!--  </div>-->
  <!--  <div class="row mt-3 justify-content-center">-->
  <!--    <div class="col-md-6">-->
  <!--      <%# link_to "新規農場登録", new_farmer_farm_path, class: "btn btn-block text-light mb-2 btn-color mb-5" %>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  




